.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #000;
  margin: 1rem;
  color: #fff;
  max-width: 250px;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  position: relative;

  &__text {
    word-break: break-all;
    text-align: center;
    padding: 1rem;
    margin: 0;
    background-color: royalblue;
  }

  &__img-container {
    height: 250px;
    width: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__img {
    height: 250px;
  }

  &__name {
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    letter-spacing: -1.5px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease;
    text-align: center;

    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }
  }
}

@media (max-width: 768px) {
  .card {
    margin: .5rem;

    &__img-container {
      height: 170px;
      width: 170px;
    }
  }
}

:host-context(.random-drink) {
  .card {
    max-width: 250px;
    height: auto;

    &__img-container {
      height: 250px;
      width: 250px;
    }
  }
}
