.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #000;
  margin: 1rem;
  color: #fff;
  max-width: 250px;
  text-decoration: none;
  cursor: pointer;
  height: 100%;

  &__text {
    word-break: break-all;
    text-align: center;
    padding: 1rem;
    margin: 0;
    background-color: royalblue;
  }

  &__img-container {
    height: 250px;
    width: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__img {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .card {
    margin: .5rem;

    &__name {
      padding: 0   1rem;
    }

    &__img-container {
      height: 170px;
      width: 170px;
    }
  }
}
