.drink-details {
  margin: auto;
  padding: 1.5rem;
  display: flex;
  max-width: 768px;
  justify-content: center;
  align-items: center;
  position: relative;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
  }

  &__image {
    max-width: 300px;
    margin-right: 3rem;
  }
}

@media (max-width: 768px) {
  .drink-details {
    flex-direction: column;
    padding-top: 3rem;
    width: 100%;
    padding: 3rem 0 0 0;
    align-items: flex-end;

    &__recipe {
      padding: 0 2rem;
    }

    &__image {
      margin: 0 auto;
    }
  }
}
