/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-simple-modal/styles/simple-modal.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  background-color: rgb(32, 30, 30);
  color: #fff;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-dialog-container {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .mat-dialog-container {
    border-radius: 0 !important;
  }

  .cdk-overlay-pane {
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0 !important;
  }
}
