/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-simple-modal/styles/simple-modal.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  background-color: rgb(32, 30, 30);
  color: #fff;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}
